---
title: ECS Service Broker for PCF
owner: Dell EMC
---

## <a id='overview'></a>Overview

This tile provides a service broker for Pivotal Cloud Foundry to connect to Dell
EMC Elastic Cloud Storage (ECS). ECS is an object storage platform providing a
number of object and file storage protcols, including S3, Swift, HDFS, NFS & Atmos
for both private and public cloud deployments.

## <a id='features'></a>Key Features

ECS Service Broker for PCF includes the following key features:

* Ability Create and Bind Apps to ECS S3 Buckets
* Ability to Create and Bind Apps to private ECS namespaces
* Support for PCF Volume Services via ECS NFS
* Parallel access to data via both S3 & NFS protocols for file-enabled buckets
* Customized Catalog Services and Plans
* A variety of bucket features, including quotas, encryption, retention &
compliance
* Upgrade beteween bucket plans with different quotas and other bucket features
* Support for multi-site buckets
* Per Application Binding ACLs (read-only, read-write, etc.)

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about
ECS Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 24, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>ECS 3.0 HF1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

ECS Service Broker for PCF has the following requirements:

+ An external Dell EMC Elastic Cloud Storage system

+ For high-availability and best performance, a load-balancer should also be used

## <a id="limitations"></a>Limitations

* The ECS service broker currently supports a single default namespace and ECS
replication group. If multiple are desired, it's possible to deploy multiple
service brokers.

* Currently, only S3, and NFS protocols are supported through
the broker bindings.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

Licensed under the Apache License, Version 2.0 (the “License”); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at <http://www.apache.org/licenses/LICENSE-2.0>

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an “AS IS” BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.
