---
title: ECS Service Broker for PCF
owner: Partners
---

<p class="note warning"><strong> WARNING:</strong>
This tile requires a Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

This documentation describes ECS Service Broker for Pivotal Cloud Foundry (PCF).


## <a id="overview"></a> Overview

ECS Service Broker for PCF registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision buckets by creating instances of service plans using Apps Manager or the cf Command Line Interface (CLI) tool.


## <a id='overview'></a> Key Features

With ECS Service Broker for PCF, you can do the following:

* Create and delete object storage buckets.
* Create and delete object storage namespaces.
* Bind one or more Cloud Foundry apps to a bucket or namespace, with unique credentials and permissions for each app.
* Support quota-enforced plans for buckets to limit the amount of capacity.
* Support encryption and retention of namespaces.
* Change plans of an existing bucket.
* Browse Cloud Foundry instance and binding metadata through an internal bucket.
* Specify an ECS namespace and replication group for provisioning.
* Provide a string prefix for bucket and user names.
* Support a self-signed SSL certificate for the ECS management API.
* Support file system mounts of file access enabled buckets via NFS.
* Configure offered services and plans through Ops Manager Tile
* Support for shared buckets across multiple PCF instances


## <a id="snapshot"></a>Product Snapshot


<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile Version</td>
        <td>v1.1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 2, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.1.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>
 

## <a id="reqs"></a> Requirements

ECS Service Broker for PCF has the following requirements:

+ [Pivotal Application Service](https://network.pivotal.io/products/elastic-runtime)


## <a id="feedback"></a> Feedback

Report bugs, make feature requests, or ask questions on the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [ECS Customer Support](mailto:ecstiles-support@dell.com).
