---
title: ECS Service Broker for Pivotal Platform
owner: Partners
---

This documentation describes ECS Service Broker for Pivotal Platform.


## <a id="overview"></a> Overview

ECS Service Broker for Pivotal Platform registers a service broker on Pivotal Platform and exposes its service plans on the Marketplace. Developers can provision buckets by creating instances of service plans using Apps Manager or the cf Command Line Interface (CLI) tool.


## <a id='overview'></a> Key Features

With ECS Service Broker for Pivotal Platform, you can do the following:

* Create and delete object storage buckets.
* Create and delete object storage namespaces.
* Bind one or more Cloud Foundry apps to a bucket or namespace, with unique credentials and permissions for each app.
* Support quota-enforced plans for buckets to limit the amount of capacity.
* Support encryption and retention of namespaces.
* Change plans of an existing bucket.
* Browse Cloud Foundry instance and binding metadata through an internal bucket.
* Specify an ECS namespace and replication group for provisioning.
* Provide a string prefix for bucket and user names.
* Support a self-signed SSL certificate for the ECS management API.
* Support file system mounts of file access enabled buckets via NFS.
* Configure offered services and plans through Ops Manager Tile
* Support for shared buckets across multiple Pivotal Platform instances


## <a id="snapshot"></a>Product Snapshot


<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile Version</td>
        <td>1.2.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 21, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>1.2.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2.x, 2.3.x, 2.4.x, 2.5.x, and 2.6.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.2.x, 2.3.x, 2.4.x, 2.5.x, and 2.6.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial 456</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

<p class="note warning"><strong> WARNING:</strong>
ECS Service Broker for Pivotal Platform v1.1.1
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="reqs"></a> Requirements

ECS Service Broker for Pivotal Platform has the following requirements:

+ [Pivotal Application Service](https://network.pivotal.io/products/elastic-runtime)


## <a id="feedback"></a> Feedback

Report bugs, make feature requests, or ask questions on the [Pivotal Platform Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [ECS Customer Support](mailto:ecstiles-support@dell.com).
