---
title: Release Notes for ECS Service Broker for PCF
owner: Dell EMC
---

These are release notes for ECS Service Broker for PCF.

##<a id="ver"></a> v1.0.0

**Release Date:** August 24, 2017

Features included in this release:

* Ability Create and Bind Apps to ECS S3 Buckets
* Ability to Create and Bind Apps to private ECS namespaces
* Support for PCF Volume Services via ECS NFS
* Parallel access to data via both S3, and NFS protocols for file-enabled buckets
* Customized Catalog Services and Plans
* A variety of bucket features, including quotas, encryption, retention, and compliance
* Upgrade beteween bucket plans with different quotas and other bucket features
* Support for multi-site buckets
* Per Application Binding ACLs (read-only, read-write, etc.)

Known issues in this release:

* No known issues.
