---
title: Release Notes for ECS Service Broker for VMware Tanzu
owner: Partners
---

## <a id="ver-2-0-2"></a> v2.0.2

**Release Date:** September 1, 2020

Fixes in this release:
* fix error messages: description missing from response body, empty brackets displayed in Apps Manager UI.
* fix upgrades from 2.0.0: errand might fail on PCF 2.8


## <a id="ver-2-0-1"></a> v2.0.1

**Release Date:** August 21, 2020

Features added in this release:

* Added configuration flag to enable HTTPS when using base url to generate object endpoint address and S3 URLs for bound applications
* Optional name prefix parameter for services and bindings: a prefix to be added after broker prefix; generated name will have form of "broker prefix"-"optional prefix"-"GUID"

Fixes and updates:
* fix upgrades from 1.2.4: errand failed to registered broker due to installation to wrong org and space.
* fix non-existent objects delete: requests failed when object cannot be found.
* fix exception thrown on namespace binding when no Base URL configured for broker or provided as optional parameter
* dependency updates: Spring Boot 2.2.9, Spring Cloud Open Service Broker 3.1.2


## <a id="ver-2-0-0"></a> v2.0.0

**Release Date:** June 12, 2020

Features included in this release:

* Input field for a plan price currency.
* Сonfigurable reclamation policies for buckets during service instance deletion ("delete", "detach" or "fail")

## <a id="ver-1-2-4"></a> v1.2.4

**Release Date:** October 21, 2019

Fix included in this release:

* Namespace binding now working.

## <a id="ver-1-2-3"></a> v1.2.3

**Release Date:** June 6, 2019

Fix included in this release:

* Bucket policy is now applied explicitly on bind instead of implicitly. See docs.

## <a id="ver-1-2-2"></a> v1.2.2

**Release Date:** May 13, 2019

Fix included in this release:

* Fixes issue where renaming fails and creates duplicate broker/app on upgrade.

## <a id="ver-1-2-1"></a> v1.2.1

**Release Date:** April 9, 2019

Feature included in this release:

* Now supports bucket policies.

## <a id="ver-1-2-0"></a> v1.2.0

**Release Date:** February 15, 2019

Fix included in this release:

* Fixes the issue where an unwanted org was created during upgrade.
This issue caused routing problems and bad upgrades.

Feature included in this release:

* Upgrades the stemcell to Ubuntu Xenial.

## <a id="ver-1-1-1"></a> v1.1.1

**Release Date:** October 2, 2018

Fix included in this release:

* Fixes thrown exception during service plan update


## <a id="ver-1-1-0"></a> v1.1.0

**Release Date:** August 23, 2018

Fix included in this release:

* Failure to mount via NFS without export directory specified

Features included in this release:

* Support host-based addressing URL in service binding credentials
* Support multiple VMware Tanzu instances to address the same bucket/namespace services


## <a id="ver-1-0-2"></a> v1.0.2

**Release Date:** October 30, 2017

Fixes included in this release:

* Fixes for tile support for service tags and plan bullets
* Bump memory requirement for app to 1&nbsp;GB


## <a id="ver-1-0-1"></a> v1.0.1

**Release Date:** October 23, 2017

Fixes included in this release:

* Proper serialization of the `broker-api-version` property, as a string
* Enables service-access for all services

Features included in this release:

* Improves tile form layout and descriptions
* Supports administrator configured catalog services
* Uses CredHub for service broker credentials


## <a id="ver-1-0-0"></a> v1.0.0

**Release Date:** Aug 24, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports VMware Tanzu v1.10.x and later
