---
title: Release Notes for ECS Service Broker for Pivotal Platform
owner: Partners
---

## <a id="ver"></a> v1.2.3

**Release Date:** June 6, 2019

Fix included in this release:

* Bucket policy is now applied explicitly on bind instead of implicitly. See docs.

## <a id="ver"></a> v1.2.2

**Release Date:** May 13, 2019

Fix included in this release:

* Fixes issue where renaming fails and creates duplicate broker/app on upgrade.

## <a id="ver"></a> v1.2.1

**Release Date:** April 9, 2019

Feature included in this release:

* Now supports bucket policies.

## <a id="ver"></a> v1.2.0

**Release Date:** February 15, 2019

Fix included in this release:

* Fixes the issue where an unwanted org was created during upgrade.
This issue caused routing problems and bad upgrades.

Feature included in this release:

* Upgrades the stemcell to Ubuntu Xenial.

## <a id="ver"></a> v1.1.1

**Release Date:** October 2, 2018

Fix included in this release:

* Fixes thrown exception during service plan update


## <a id="ver"></a> v1.1.0

**Release Date:** August 23, 2018

Fix included in this release:

* Failure to mount via NFS without export directory specified

Features included in this release:

* Support host-based addressing URL in service binding credentials
* Support multiple Pivotal Platform instances to address the same bucket/namespace services


## <a id="ver"></a> v1.0.2

**Release Date:** October 30, 2017

Fixes included in this release:

* Fixes for tile support for service tags and plan bullets
* Bump memory requirement for app to 1&nbsp;GB


## <a id="ver"></a> v1.0.1

**Release Date:** October 23, 2017

Fixes included in this release:

* Proper serialization of the `broker-api-version` property, as a string
* Enables service-access for all services

Features included in this release:

* Improves tile form layout and descriptions
* Supports administrator configured catalog services
* Uses CredHub for service broker credentials


## <a id="ver"></a> v1.0

**Release Date:** Aug 24, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports Pivotal Platform v1.10.x and later
